<div class="mt-6 ml-6 flex items-center justify-center">
  <table class="border-separate border-spacing-6 border border-primary-ligth">    
    <tr>
      <td><a class="text-link" href="/folders/<%= folder.name %>"><%= folder.name %></a></td>
      <td><a class="btn edit" href="/folders/<%= folder.name %>/edit">Edit</a></td>
      <td><a class="btn delete" href="/folders/<%= folder.name %>/delete">Delete</a></td>
    </tr>
  </table>
</div>   

<% if (files.length > 0) { %>
  <p class="mt-4 text-center ">Files in Folder</p>
      <% files.forEach(file => { %>
        <div class="m-6 flex items-center text-xl">
          <table class="border-separate border-spacing-6 border border-primary-ligth w-full mt-3 mb-3 ml-6 mr-6">    
            <tr>
              <td><a class="text-link" href="/files/<%= file.id %>"><%= file.name %></a></td>
            </tr>
          </table>
        </div>
      <% }); %>  
    </div>
  <% } %>

<div class="mt-4 text-center">
  <a class="btn" href="/folders">Back to All Folders</a>
</div>
