<div class="add">
    <a href="/folders/new">Add Folder</a>
  </div>      
  
  <% folders.forEach(folder => { %>
    <div class="folder-container">
      <div class="folder">        
        <a href="/folders/<%= folder.name %>"><%= folder.name %></a>              
      </div>
      <div class="open"><a href="/folders/<%= folder.name %>">View</a></div>          
      <div class="open"><a href="/folders/<%= folder.name %>/edit">Edit</a></div> 
      <div class="open"><a href="/folders/<%= folder.name %>/delete">Delete</a></div> 
    </div>
    <% }) %> 