<p class="mt-4 text-center">File Information</p>
<div class="flex w-full items-center justify-center overflow-hidden text-xl">
  <table class="border-separate border-spacing-6 border border-white">
    <tr>
      <td class="font-bold">File name</td>
      <td><%= file.name %></td>
    </tr>
    <tr>
      <td class="font-bold">File size</td>
      <td><%= Math.floor(file.size/1000) %> Kb</td>
    </tr>
    <tr>
      <td class="font-bold">Upload time</td>
      <td><%= file.uploadTime.toLocaleString() %></td>
    </tr>
  </table>
</div>

<div class="flex items-center justify-center">
  <a
    class="btn"
    href="<%= file.url %>"
    onclick="downloadFile(event, '<%= file.url %>', '<%= file.name %>')"
  >
    Download
  </a>

  <form method="POST" action="/files/<%= file.id %>/delete">
    <button
      class="btn delete"
      type="submit"
      onclick="return confirm('Are you sure?')"
    >
      Delete
    </button>
  </form>
  <a class="btn" href="/folders">Back to All Folders</a>
</div>

<script>
  function downloadFile(event, url, filename) {
    event.preventDefault();
    const xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'blob';
    xhr.onload = function () {
      if (xhr.status === 200) {
        const blob = xhr.response;
        const link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = filename;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      } else {
        console.error('Error downloading file:', xhr.statusText);
      }
    };
    xhr.onerror = function () {
      console.error('Network error while downloading file');
    };
    xhr.send();
  }
</script>
